# Folder
examples
node_modules
playwright-report
src
test-results


# Environment
.env
.env.examples

# Lint
.eslintrc.js
.prettierrc

# Configuration
playwright.config.ts
tsconfig.ts
tsup.config.ts
yarn.lock

# Pack
*.tgz

# Features gen
.features-gen

# Other
.github
.husky
.vscode
.yarn
.yarnrc.yaml
.gitignore
